$background1: white;

@mixin size($size, $radius: 0) {
	width: $size;
	height: $size;
	@if $radius != 0 {
		border-radius: $radius;
	}
}

@mixin bg($url, $size, $position: center) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-position: $position;
	background-size: $size;
}

:export {
	background1: $background1;
}
